.page__header {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  left: 0;
  transition: all linear 0.3s;
}

.page__header.hidden {
  top: -3.125rem;
  opacity: 0;
  cursor: none;
  visibility: hidden;
}
