.navbar__menu ul {
  padding-left: 0;
  margin: 0;
  text-align: right;
}

.navbar__menu li {
  display: inline-block;
}

.navLink {
  color: #000;
  margin: 0.625rem 1.25rem;
  text-decoration: none;
  display: inline-block;
  padding: 0.3125rem;
  cursor: url(../assets/favicon/diamond.png), auto;
}

.navLink:hover {
  background-color: #fff293;
  background-image: linear-gradient(315deg, #fff293 0%, #ffe884 74%);
  padding: 0.3125rem;
}

.navLink.active {
  color: #fff;
  background: #000;
  padding: 0.3125rem;
}

.navLink:active {
  color: #000;
}

.back-to-top {
  font-family: "Megrim", cursive;
  font-size: 1.5rem;
  bottom: 0.3125rem;
  right: 1.25rem;
  z-index: 9999;
  position: fixed;
  background-color: #cdedfd;
  background-image: linear-gradient(
    319deg,
    #cdedfd 0%,
    #ffec82 37%,
    #ffcfd2 100%
  );
  border: none;
  appearance: none;
  display: none;
  cursor: url(../assets/favicon/dinosaur.png), auto;
}

.back-to-top.active {
  display: block;
}

.back-to-top:hover {
  background-color: #bbff99;
  background-image: linear-gradient(
    319deg,
    #bbff99 0%,
    #ffec99 37%,
    #ff9999 100%
  );
}

.back-to-top:focus {
  outline: 0.0625rem solid #fabc3c;
}
